<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form>
      <div class="form-group">
        <label>From:</label>
        <input
          [(ngModel)]="from"
          name="from"
          class="form-control">
      </div>
      <div class="form-group">
        <label>To:</label>
        <input
          [(ngModel)]="to"
          name="to"
          class="form-control">
      </div>
      <div class="form-group">
        <button
          [disabled]="!from || !to"
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="flights.length > 0">
  <table class="table table-contensed">
    <thead>
    <tr>
      <th>Id</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let flight of flights">
      <td>{{ flight.id }}</td>
      <td>{{ flight.from | city:'short' }}</td>
      <td>{{ flight.to | city }}</td>
      <td>{{ flight.date | date:'dd.MM.yyyy HH:mm' }}</td>
      <td>
      <a (click)="select(flight)">Select</a> 
      </td>
    </tr>
  </table>
</div>

<div class="card" *ngIf="selectedFlight">
  <div class="content">
    <pre>{{ selectedFlight | json }}</pre>
  </div>
</div>
