<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form #form="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input
          [(ngModel)]="from"
          name="from"
          class="form-control"
          required
          minlength="3"
          maxlength="20"
          pattern="[a-zA-Z]*"
          city>
      </div>

      <div
        class="text-danger" 
        *ngIf="form?.controls['from']?.hasError('minlength')">		
        ... minlength error ...
      </div>	

      <div
        class="text-danger" 
        *ngIf="form?.controls['from']?.hasError('city')">		
        ... city error ...
      </div>	

      <pre>{{
        form?.controls['from']?.errors | json  
      }}</pre>

      <div class="form-group">
        <label>To:</label>
        <input
          [(ngModel)]="to"
          name="to"
          class="form-control">
      </div>
      <div class="form-group">
        <button
          [disabled]="!from || !to"
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let f of flights"
    class="col-sx-12 col-sm-6 col-md-4 col-lg-3">
    <app-flight-card
      [item]="f"
      [selected]="basket[f.id]"
      (selectedChange)="basket[f.id] = $event">
      <span class="title">mein titel für die karte</span>
      zusätzlicher content
    </app-flight-card>
  </div>
</div>

<div class="card" *ngIf="selectedFlight">
  <div class="content">
    <pre>{{ selectedFlight | json }}</pre>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
